/* 각 태그들에 대해서 좀더 알아보기 */
.hidden {
  display: none;
}

#clock {
  display: flex;
  place-content: center;
}

#login {
  display: flex;
  place-content: center;
}

#todo {
  /* 여기서 안에 내용물들 층 만들어줄수 있음*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#todo-form {
  display: block;
  margin-top: 0em;
}

#todo-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#quote {
  display: flex;
  place-content: center;
}

#weather {
  display: flex;
  place-content: center;
}

#background {
  /* 백그라운드 이미지 배경에 꽉채우기, z-index 통해 글자들이 더 위에 나올수있게 조정*/
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;

  z-index: -1;
}
